<div class="seller-grid-box seller-grid-box-1 skeleton-seller">
    <div class="grid-image">
        <div class="vendor-text"></div>
        <div class="contain-name">
            <div>
                <h3></h3>
            </div>
            <div class="product-label"></div>
        </div>
    </div>
    <div class="grid-contain">
        <div class="seller-contact-details">
            <div class="seller-contact"></div>
            <div class="seller-contact mt-2"></div>
        </div>
    </div>
</div>