<section class="section-b-space">
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <div class="collection-content col">
          <div class="page-main-content">
            @if(bannerImageUrl){
              <div class="top-banner-wrapper">
                <app-collection-category-banner [imageUrl]="bannerImageUrl"></app-collection-category-banner>
              </div>
            }
            <div class="collection-product-wrapper">
              <app-collection-products [filter]="filter" [topFilter]="true"></app-collection-products>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
