<!-- Page Skeleton Loader -->
<div class="common-skeleton">
   <div class="img-box">
      <div class="img"></div>
      <div class="img-content">
         <div class="placeholder col-6"></div>
         <div class="placeholder col-7"></div>
         <div class="placeholder col-10"></div>
         <div class="placeholder col-9"></div>
         <div class="placeholder col-8"></div>
         <div class="placeholder col-6"></div>
      </div>
   </div>
   <ul>
      <li class="placeholder col-8"></li>
      <li class="placeholder col-9"></li>
      <li class="placeholder col-10"></li>
      <li class="placeholder col-7"></li>
      <li class="placeholder col-9"></li>
      <li class="placeholder col-11"></li>
   </ul>
</div>