<!-- Blog Grid Skeleton -->
@if(type == 'grid'){
    <div class="blog-skeleton blog-box">
        <div class="blog-image"></div>
        <div class="blog-contain">
            <a href="">
                <h3></h3>
            </a>
            <div class="blog-label"></div>
            <a href="" class="blog-button"></a>
        </div>
    </div>
}

<!-- Blog Sidebar Skeleton -->
@if(type == 'sidebar'){
    <div class="left-skelton-box" >
        <ul>
            <li class="placeholder col-6"></li>
            <li class="placeholder col-7"></li>
            <li class="placeholder col-10"></li>
            <li class="placeholder col-9"></li>
            <li class="placeholder col-7"></li>
            <li class="placeholder col-6"></li>
            <li class="placeholder col-7"></li>
            <li class="placeholder col-11"></li>
            <li class="placeholder col-9"></li>
            <li class="placeholder col-7"></li>
            <li class="placeholder col-8"></li>
            <li class="placeholder col-7"></li>
            <li class="placeholder col-11"></li>
            <li class="placeholder col-9"></li>
            <li class="placeholder col-7"></li>
            <li class="placeholder col-6"></li>
            <li class="placeholder col-8"></li>
            <li class="placeholder col-4"></li>
            <li class="placeholder col-9"></li>
            <li class="placeholder col-7"></li>
        </ul>
    </div>
}