<div class="accordion custome-accordion">
   <div class="accordion-item skeleton-accordion">
      <h2 class="accordion-header">
         <button class="accordion-button" type="button">
            <span></span>
         </button>
      </h2>
      <div class="accordion-collapse">
         <div class="accordion-body">
            <ul class="">
               <li class="placeholder col-6"></li>
               <li class="placeholder col-7"></li>
               <li class="placeholder col-10"></li>
               <li class="placeholder col-9"></li>
               <li class="placeholder col-7"></li>
               <li class="placeholder col-6"></li>
               <li class="placeholder col-7"></li>
               <li class="placeholder col-11"></li>
               <li class="placeholder col-9"></li>
               <li class="placeholder col-7"></li>
               <li class="placeholder col-8"></li>
               <li class="placeholder col-7"></li>
               <li class="placeholder col-11"></li>
               <li class="placeholder col-9"></li>
               <li class="placeholder col-7"></li>
               <li class="placeholder col-6"></li>
               <li class="placeholder col-8"></li>
               <li class="placeholder col-4"></li>
               <li class="placeholder col-9"></li>
               <li class="placeholder col-7"></li>
            </ul>
         </div>
      </div>
   </div>
</div>