<div class="row">
  <div class="col-12">
    <div class="card mt-0">
      <div class="card-body">
        <div class="top-sec">
          <h3>{{ 'address_book' | translate }}</h3>
          <a href="javascript:void(0)" class="btn btn-sm btn-solid" (click)="AddressModal()">+ {{ 'add_new' | translate }}</a>
        </div>
         @if((user$ | async)?.address?.length){
          <div class="address-book-section">
            <div class="row g-4">
               @for(address of (user$ | async)?.address; track address; let i = $index){
                <div class="select-box active col-xl-4 col-md-6">
                  <div class="address-box">
                    <div class="top">
                      <h6>{{ (user$ | async)?.name | titlecase }} <span>{{ address?.title }}</span></h6>
                    </div>
                    <div class="middle">
                      <div class="address">
                        <p>{{ address?.street }}, {{ address?.city }}</p>
                        <p>{{ address?.state?.name }}, {{ address?.country?.name }}</p>
                        <p>{{ address?.pincode }}</p>
                      </div>
                      <div class="number">
                        <p>{{ 'phone' | translate }}: <span>+{{ address?.country_code }} {{ address?.phone }}</span></p>
                      </div>
                    </div>
                    <div class="bottom">
                      <a href="javascript:void(0)"  class="bottom_btn" (click)="AddressModal(address)">{{ 'edit' | translate }}</a>
                      <a href="javascript:void(0)" class="bottom_btn" (click)="removeAddress(address)">{{ 'remove' | translate }}</a>
                    </div>
                  </div>  
                </div>
              }  
            </div>
          </div>
        }
        @else {
          <app-no-data [class]="'no-data-added'"
            [image]="'assets/svg/empty-items.svg'"
            [text]="'no_address'"
            [description]="'no_address_yet'">
          </app-no-data> 
        } 
      </div>
    </div>
  </div>
</div>
