<div class="basic-product theme-product-6" [class.sold-out]="product.stock_status == 'out_of_stock'">
  <div class="img-wrapper">
    @if(product.unit){
      <label class="unit-label">{{ product.unit }}</label>
    }

    <ul class="trending-label">
      @if(product.stock_status === 'out_of_stock'){
        <li class="out_of_stock">{{ 'sold_out' | translate }}</li>
      }
      @if(product.is_sale_enable){
        <li>{{ 'sale' | translate }}</li>
      }
      @if(product.is_featured){
        <li>{{ 'featured' | translate }}</li>
      }
      @if(product.is_trending){
        <li>{{ 'trending' | translate }}</li>
      }
    </ul>

    <app-image-variant [thumbnail]="product.product_thumbnail!" [gallery_images]="product.product_galleries!" [product]="product!"></app-image-variant>
    <div class="cart-info">
      <app-product-hover-action [product]="product"></app-product-hover-action>
    </div>
  </div>
  <div class="product-detail">
    <a href="javascript:void(0)" class="product-title" [routerLink]="['/product/', product.slug]">
      {{ product.name }}
    </a>
    <div class="rating-w-count">
      <div class="rating">
        <ngb-rating [(rate)]="product.rating_count">
          <ng-template let-fill="fill" let-index="index">
            <i class="ri-star{{ fill === 100 ? '-fill' : '-line' }}" [class.filled]="fill === 100"></i>
          </ng-template>
        </ngb-rating>
      </div>
      <span>({{ product.reviews_count }})</span>
    </div>
    <h4 class="price">{{ (product.sale_price) | currencySymbol }}
      @if(product.discount){
        <del> {{ (product.price) | currencySymbol }} </del>
        <span class="discounted-price"> {{ product.discount }}% {{ 'off' | translate }} </span>
      }
    </h4>
    <div class="addtocart_btn">
      <app-cart-button [product]="product" [class]="'add-button add_cart'" [quantity]="true" [text]="'Add to Cart'"></app-cart-button>
    </div>
  </div>
</div>
