<div class="bordered-box">
  <h4 class="sub-title">{{ 'product_info' | translate }}</h4>
  <ul class="shipping-info">

    @if(product?.sku){
      <li>
        <span>{{ 'sku' | translate }}: </span>{{ product?.sku }}
      </li>
    }

    @if(product?.unit){
      <li>
        <span>{{ 'unit' | translate }}: </span>{{ product?.unit }}
      </li>
    }

    @if(product?.weight){
      <li>
        <span>{{ 'weight' | translate }}: </span>{{ product?.weight }} {{ 'gms' | translate }}
      </li>
    }

    @if(product && product.stock_status){
      <li>
        <span>{{ 'stock_status' | translate }}: </span>{{ product.stock_status | translate }}
      </li>
    }

    @if(product?.quantity! > 0){
      <li>
        <span>{{ 'quantity' | translate }}: </span>{{ product?.quantity }} {{ 'items_left' | translate }}
      </li>
    }
  </ul>
</div>
