<div class="basic-product theme-product-5">
  <div class="img-wrapper">
      @if(product.sale_starts_at && product.sale_expired_at) {
        <div class=" d-none d-sm-flex">
          <app-sale-timer [startDate]="product.sale_starts_at" [endDate]="product.sale_expired_at"></app-sale-timer>
        </div>
      }
      <app-image-variant
      [thumbnail]="selectedVariation && selectedVariation.variation_image ? selectedVariation.variation_image! : product.product_thumbnail!"
      [gallery_images]="product.product_galleries!"
      [product]="product!"></app-image-variant>
      <div class="cart-info">
          <app-cart-button [product]="product" [enableModal]="true"></app-cart-button>
          <app-product-hover-action [product]="product"></app-product-hover-action>
      </div>

      @if(product.is_trending || product.is_sale_enable || product.is_featured){
        <label class="rotate-label">{{ (product.is_sale_enable ? 'sale' : product.is_featured ? 'featured' : product.is_trending ? 'trending' : '' ) | translate }}</label>
      }
  </div>
  <div class="product-detail">
      <div class="brand-w-color">
          @if(product.brand){
            <a class="product-title" [routerLink]="['/brand' , product.brand.slug ]">
                {{ product.brand.name }}
            </a>
          }
          <div class="rating-w-count mb-0 d-sm-inline-flex d-none">
            <div class="rating">
              <ngb-rating [(rate)]="product.rating_count">
                <ng-template let-fill="fill" let-index="index">
                  <i class="ri-star{{ fill === 100 ? '-fill' : '-line' }}" [class.filled]="fill === 100" ></i>
                </ng-template>
              </ngb-rating>
            </div>
            <span>({{ product.reviews_count }})</span>
          </div>
      </div>
      <h6>
        <a [routerLink]="['/product', product.slug ]">
          {{ product.name }}
        </a>
      </h6>
      <h4 class="price">{{(selectedVariation ? selectedVariation.sale_price : product.sale_price) | currencySymbol}}
        @if(selectedVariation ? selectedVariation.discount : product.discount){
          <del>  {{(selectedVariation ? selectedVariation.price : product.price) | currencySymbol}} </del>
          <span class="discounted-price"> {{selectedVariation ? selectedVariation.discount : product.discount}} % {{ 'off' | translate }} </span>
        }
      </h4>
  </div>
</div>
