@for(attribute of attributes; track attribute; let i = $index){
  <div class="variation-box" (mouseleave)="removeVariation()">

    <h4 class="sub-title">{{ attribute?.name }}:</h4>

    @if(attribute?.style == 'dropdown' || isAllVariantStyleDropdown){
      <select id="input-state-{{i}}" class="form-control form-select select-dropdown" #selectedValue (change)="setVariant(product.variations, attribute.attribute_values[$any($event.target).value])">
        <option selected disabled>{{ 'choose' | translate }} {{ attribute?.name }}</option>
          @for(value of attribute.attribute_values; let attributeIndex = $index; track value){
            @if(attributeValues.includes(value.id)){
              <option [selected]="variantIds.includes(value.id) && !soldOutAttributesIds.includes(value.id)" [value]="attributeIndex" [disabled]="soldOutAttributesIds.includes(value.id)">
                {{ value?.value }}
              </option>
            }
          }
      </select>
    }@else {
      <ul [ngClass]="attribute?.style" [class]="(attribute.style == 'image' || attribute.style == 'image_price') ? 'image-box' : 'quantity-variant'">
        @for(value of attribute.attribute_values; track value; let attributeIndex = $index){
          @if(attributeValues.includes(value.id)){

            @if(attribute.style == 'color'){
              <li class="bg-light"
                [class.active]="variantIds.includes(value.id) && !soldOutAttributesIds.includes(value.id)"
                [ngClass]="{ 'disabled': soldOutAttributesIds.includes(value.id) }"
               >
                <span
                  (click)="setVariant(product.variations, value)"
                  (mouseover)="!soldOutAttributesIds.includes(value.id) && variant_hover && setVariant(product.variations, value, 'hover')"
                  [ngStyle]="{ 'background-color': value.hex_color }"></span>
              </li>
            }

            @else if(attribute.style == 'circle'){
              <li

                [class.active]="variantIds.includes(value.id) && !soldOutAttributesIds.includes(value.id)"
                [ngClass]="{ 'disabled': soldOutAttributesIds.includes(value.id) }">

                <app-button
                  [id]="'value_btn'"
                  [type]="'button'"
                  [spinner]="false"
                  (click)="setVariant(product.variations, value)"
                  (mouseover)="!soldOutAttributesIds.includes(value.id) && variant_hover && setVariant(product.variations, value, 'hover')">
                  {{ value?.value }}
                </app-button>
              </li>
            }

            @else if(attribute.style == 'image'){
              <li
                (mouseover)="!soldOutAttributesIds.includes(value.id) && variant_hover && setVariant(product.variations, value, 'hover')"
                (click)="setVariant(product.variations, value)"
                [class.active]="variantIds.includes(value.id) && !soldOutAttributesIds.includes(value.id)"
                [ngClass]="{ 'disabled': soldOutAttributesIds.includes(value.id) }">
                <a>
                  <img [src]="value?.variation_image ? value?.variation_image?.original_url : 'assets/images/placeholder/product.png'" >
                </a>
              </li>
            }

            @else if(attribute?.style == 'radio'){
              <div class="d-flex digital-price">
                <div class="form-check">
                  <input type="radio" class="form-check-input" [id]="'radio-' + i + '-' + attributeIndex" [name]="'radio-group-' + i" [value]="attributeIndex" [checked]="variantIds.includes(value.id) && !soldOutAttributesIds.includes(value.id)" (mouseover)="!soldOutAttributesIds.includes(value.id) && variant_hover && setVariant(product.variations, value, 'hover')" [disabled]="soldOutAttributesIds.includes(value.id)" [ngClass]="{ 'disabled': soldOutAttributesIds.includes(value.id) }" (change)="setVariant(product.variations, attribute.attribute_values[$any($event.target).value])"/>
                  <label [for]="'radio-' + i + '-' + attributeIndex" class="form-check-label mb-0">{{ value?.value }} </label>
                  @if(showPrice){
                    <h5 class="sold text-content ms-auto">
                      <span class="theme-color price">{{ value.sale_price | currencySymbol }}</span>
                      @if(product.discount){
                      <del>{{ value.price }}</del>
                      }
                    </h5>
                  }
                </div>
              </div>
            }

            @else if(attribute.style == 'image_price'){
            <li class=""  [class.active]="variantIds.includes(value.id) && !soldOutAttributesIds.includes(value.id)" [ngClass]="{ 'disabled': soldOutAttributesIds.includes(value.id) }">
              <a >
                <img [src]="value?.variation_image ? value?.variation_image?.original_url : 'assets/images/placeholder/product.png'" (mouseover)="!soldOutAttributesIds.includes(value.id)  && variant_hover &&  setVariant(product.variations, value, 'hover')"  (click)="setVariant(product.variations, value)">
                <h5>{{ value.name }}</h5>
                <h4>{{ value.sale_price| currencySymbol }}</h4>
              </a>
            </li>
            }

            @else {
              <li class="bg-light"  [class.active]="variantIds.includes(value.id) && !soldOutAttributesIds.includes(value.id)" [ngClass]="{ 'disabled': soldOutAttributesIds.includes(value.id) }">
                <app-button [id]="'value_btn'" [type]="'button'" [spinner]="false" (click)="setVariant(product.variations, value)" (mouseover)="!soldOutAttributesIds.includes(value.id)  && variant_hover &&  setVariant(product.variations, value, 'hover')">
                  {{ value?.value }}
                </app-button>
              </li>
            }
          }
        }
      </ul>
    }

  </div>
}
