@if(variant === 'image_slider'){
    <owl-carousel-o [options]="customOptions" (mouseenter)="startAutoplay()" (mouseleave)="stopAutoplay()">
        @for(image of product.product_galleries; track image){
            <ng-template carouselSlide>
                <img [src]="thumbnail ? thumbnail.original_url  : image?.original_url ? image?.original_url : 'assets/images/placeholder/product.png'" class="img-fluid bg-img"
                [alt]="product.name">
            </ng-template>
        }
    </owl-carousel-o>
} @else if(variant === 'image_flip') {
    <div class="flip">
        @for(image of flipImage.slice(0,2); let i = $index; track image){
            <div class="{{ i === 0 ? 'front' : 'back' }}">
                <a [routerLink]="['/product', product.slug]">
                    <img [src]="image ? image?.original_url : 'assets/images/placeholder/product.png'" class="img-fluid bg-img"
                    [alt]="product.name">
                </a>
            </div>
        }
    </div>
} @else if(variant === 'image_zoom') {
    <div class="zoom">
        <a [routerLink]="['/product', product.slug]">
            <img [src]="thumbnail ? thumbnail.original_url : 'assets/images/placeholder/product.png'" class="img-fluid bg-img"
                [alt]="product.name">
        </a>
    </div>
} @else {
    <a [routerLink]="['/product', product.slug]">
        <img [src]="thumbnail ? thumbnail.original_url : 'assets/images/placeholder/product.png'" class="img-fluid bg-img"
            [alt]="product.name">
    </a>
}
