<div class="modal-content">
  <div class="modal-header p-0">
    <app-button [type]="'button'" [class]="'btn btn-close'" [id]="'product_detail_close_modal_btn'" [spinner]="false"
      (click)="modal.close('Cross click')">
      <i class="ri-close-line"></i>
    </app-button>
  </div>
  <div class="modal-body">
    <div class="row g-sm-4 g-3">
      <div class="col-lg-6">
        <div class="sticky-top-custom">
          <div class="thumbnail-image-slider">
            <div class="row g-sm-4 g-3">
              <div class="col-12">
                <div class="product-slick position-relative">
                  @if(product.is_sale_enable || product.is_trending || product.is_featured){
                  <ul class="product-detail-label">
                    @if(product.is_sale_enable){
                    <li class="soldout">{{ 'sale' | translate }}</li>
                    }
                    @if(product.is_trending){
                    <li class="trending">{{ 'trending' | translate }}</li>
                    }
                    @if(product.is_featured){
                    <li class="featured">{{ 'featured' | translate }}</li>
                    }
                  </ul>
                  }
                  <owl-carousel-o [options]="productMainThumbSlider" #owlCar id="thumbnailCarousel"
                    (changed)="onSlideChange($event)">
                    @if(product.product_galleries?.length){
                    @for(image of product.product_galleries; track image; let i = $index){
                    <ng-template carouselSlide [id]="image.id.toString()">
                      @if(videType.includes(image.mime_type)){
                      <div class="slider-main-img">
                        <video class="w-100" controls>
                          <source [src]="image ? image.original_url : ''" [type]="image.mime_type">
                        </video>
                      </div>
                      }@else if(audioType.includes(image.mime_type)){
                      <div class="slider-main-img">
                        <audio controls>
                          <source [src]="image ? image.original_url : ''" [type]="image.mime_type">
                        </audio>
                      </div>
                      }@else {
                        @if(isBrowser){
                          <div>
                            <lib-ngx-image-zoom [zoomMode]="'click'" [thumbImage]="image.original_url" [fullImage]="image.original_url" [magnification]="2" [enableScrollZoom]="true" [enableLens]="true" [lensWidth]="300" [lensHeight]="300">
                            </lib-ngx-image-zoom>
                          </div>
                        }
                      }
                    </ng-template>
                    }
                    }
                  </owl-carousel-o>
                  @if(!product.product_galleries?.length){
                  <img [src]="product.product_thumbnail ?
                                          product.product_thumbnail.original_url :
                                          'assets/images/placeholder/product.png'" class="img-fluid"
                    [alt]="product.name">
                  }
                </div>
              </div>
              @if(product && product.product_galleries?.length){
              <div class="col-12">
                <div class="slider-nav ">
                  <owl-carousel-o [options]="productThumbSlider" #thumbnailCarousel>
                    @for(image of product.product_galleries; track image){
                    <ng-template carouselSlide [id]="image.id.toString()">
                      <div>
                        <div class="slider-image"
                          [ngClass]="{'active' : activeSlide && (image.id.toString() == activeSlide.toString())}">
                          @if(videType.includes(image.mime_type)){
                          <i class="ri-video-line"></i>

                          <video width="130" height="130" (click)="owlCar.to(activeSlide = image.id.toString())">
                            <source [src]="image ? image.original_url : ''" [type]="image.mime_type">
                          </video>
                          }@else if(audioType.includes(image.mime_type)){
                          <button (click)="owlCar.to(activeSlide = image.id.toString())">
                            <i class="ri-music-2-line"></i>
                          </button>
                          }@else {
                          <img [src]="image ? image.original_url : 'assets/images/placeholder/product.png'"
                            class="img-fluid" [alt]="product.name"
                            (click)="owlCar.to(activeSlide = image.id.toString())">
                          }
                        </div>
                      </div>
                    </ng-template>
                    }
                  </owl-carousel-o>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 rtl-text">
        <div class="right-sidebar-modal product-page-details">
          <app-product-details [product]="product"
            [selectedVariation]="selectedVariation ? selectedVariation : product"></app-product-details>
          <app-product-content [product]="product" (selectedVariant)="selectedVariant($event)"
            [owlCar]="owlCar" [variant_hover]="false"></app-product-content>
          <app-product-delivery-information [product]="product"></app-product-delivery-information>
        </div>
      </div>
    </div>
  </div>
</div>