@if(style == 'horizontal'){
  <div class="media skeleton-media">
    <div class="image-wrapper"></div>
    <div class="media-body align-self-center">
      <div class="rating"></div>
      <div class="name"></div>
      <div class="price"></div>
    </div>
  </div>
}@else {
  <div class="basic-product skeleton-basic-product">
    <div class="img-wrapper owl-slider">
      <div class="product-image-box"></div>
    </div>
    <div class="product-detail">
      <a class="product-title" href="#!"></a>
      <a href="#!">
        <h6></h6>
      </a>
      <h4 class="price"></h4>
    </div>
  </div>
}
