.blog-skeleton {
  .product-box {
    padding: 0;
    background-color: transparent;
  }

  .skeleton__img {
    height: 224px;
  }
}

.skeleton__p {
  height: 16px;
  width: 100%;
  margin-bottom: 8px;
}
