@if(style == 'vertical' && variant == 'product_box_one'){
  <app-product-box-one [product]="product"></app-product-box-one>
}
@else if (style == 'vertical' && variant == 'product_box_two') {
  <app-product-box-two [product]="product"></app-product-box-two>
}
@else if (style == 'vertical' && variant == 'product_box_three') {
  <app-product-box-three [product]="product"></app-product-box-three>
}
@else if (style == 'vertical' && variant == 'product_box_four') {
  <app-product-box-four [product]="product"></app-product-box-four>
}
@else if (style == 'vertical' && variant == 'product_box_five') {
  <app-product-box-five [product]="product"></app-product-box-five>
}
@else if (style == 'vertical' && variant == 'product_box_six') {
  <app-product-box-six [product]="product"></app-product-box-six>
}
@else if (style == 'vertical' && variant == 'product_box_seven') {
  <app-product-box-seven [product]="product"></app-product-box-seven>
}
@else if (style == 'vertical' && variant == 'product_box_eight') {
  <app-product-box-eight [product]="product"></app-product-box-eight>
}
@else if (style == 'vertical' && variant == 'product_box_nine') {
  <app-product-box-nine [product]="product"></app-product-box-nine>
}
@else if (style == 'vertical' && variant == 'product_box_ten') {
  <app-product-box-ten [product]="product"></app-product-box-ten>
}
@else if (style == 'vertical' && variant == 'product_box_eleven') {
  <app-product-box-eleven [product]="product"></app-product-box-eleven>
}
@else if (style == 'vertical' && variant == 'product_box_twelve') {
  <app-product-box-twelve [product]="product"></app-product-box-twelve>
}
@else if (style == 'horizontal') {
  <app-product-box-horizontal [product]="product" [product_box_style]="product_box_style"></app-product-box-horizontal>
}
